/*  your css code here. If applicable */
#container::before {
  content: "Before Element";
  color: #f00;
  font-size: 20px;
}
#container::after  {
  content: "After element";
  color: #f00;
  font-size: 20px;
}